#ignore objects and archives.
*.[oa]
*.lo
*.la

# libtool related stuff
.libs
.deps


## ignore backup
*~

### makefiles
Makefile
Makefile.in

### automakes
.DS_Store
COPYING
INSTALL
aclocal.m4
autom4te.cache
config.log
config.status
configure
libtool



cicada
cicada_mpi
cicada_alignment
cicada_cluster_word
cicada_convex_hull
cicada_convex_hull_mpi
cicada_convex_hull_kbest
cicada_convex_hull_kbest_mpi
cicada_eval
cicada_extract_ghkm
cicada_extract_ghkm_mpi
cicada_extract_phrase
cicada_extract_phrase_mpi
cicada_extract_rule
cicada_extract_scfg
cicada_extract_scfg_mpi
cicada_extract_score
cicada_extract_score_mpi
cicada_extract_sort
cicada_extract_tree
cicada_extract_tree_mpi
cicada_filter_bitext
cicada_filter_cabocha
cicada_filter_config
cicada_filter_config_moses
cicada_filter_extract
cicada_filter_extract_ghkm
cicada_filter_extract_phrase
cicada_filter_extract_scfg
cicada_filter_kbest
cicada_filter_kbest_moses
cicada_filter_charniak
cicada_filter_conll
cicada_filter_dependency
cicada_filter_penntreebank
cicada_filter_pialign
cicada_filter_refset
cicada_filter_terminal
cicada_filter_text
cicada_filter_weights
cicada_format_rbnf
cicada_grammar_coarse
cicada_grammar_learn
cicada_index_cluster
cicada_index_grammar
cicada_index_global_lexicon
cicada_index_tree_grammar
cicada_learn
cicada_learn_mpi
cicada_learn_kbest
cicada_learn_kbest_mpi
cicada_learn_online
cicada_learn_online_mpi
cicada_lexicon
cicada_lexicon_dice
cicada_lexicon_global
cicada_lexicon_global_mpi
cicada_lexicon_hmm
cicada_lexicon_model1
cicada_maxlike
cicada_maxlike_mpi
cicada_mert
cicada_mert_mpi
cicada_mert_kbest
cicada_mert_kbest_mpi
cicada_oracle
cicada_oracle_mpi
cicada_oracle_kbest
cicada_oracle_kbest_mpi
cicada_unite_forest
cicada_unite_lattice
cicada_unite_sentence
mpimap
mpish
mpipe
thrsh
cicada_kbest_main
cicada_text_main
