#ignore objects and archives.
*.[oa]
*.lo
*.la

# libtool related stuff
.libs
.deps


## ignore backup
*~

### makefiles
Makefile
Makefile.in

### automakes
.DS_Store
COPYING
INSTALL
aclocal.m4
autom4te.cache
config.log
config.status
configure
libtool



arc_list_main
b_heap_main
base64_main
bithack_main
bitpack_main
bit_vector_main
byte_aligned_code_main
byte_aligned_vector_main
chunk_vector_main
compress_stream_main
dense_map_main
double_base64_main
filesystem_main
group_aligned_code_main
icu_filter_main
indexed_set_main
istream_line_iterator_main
lexical_cast_main
lockfree_list_queue_main
lockfree_queue_main
malloc_stats_main
map_file_allocator_main
packed_vector_main
piece_main
program_options_main
random_seed_main
restaurant_main
simple_vector_main
small_vector_main
sparse_map_main
static_allocator_main
stick_break_main
subprocess_main
succinct_vector_main
tempfile_main
json_string_main
vector_map_main
vector_set_main
vector2_main
vertical_coded_vector_main
bitpack_gen.py
group_aligned_code_offsets.py
bitpack16_impl.hpp
bitpack32_impl.hpp
bitpack64_impl.hpp
bitpack8_impl.hpp
config.h
config.h.in
group_aligned_code_offsets.hpp
stamp-h1
