#ignore objects and archives.
*.[oa]
*.lo
*.la

# libtool related stuff
.libs
.deps


## ignore backup
*~

### makefiles
Makefile
Makefile.in

### automakes
.DS_Store
COPYING
INSTALL
aclocal.m4
autom4te.cache
config.log
config.status
configure
libtool



fastlz_compress_main
fastlz_decompress_main
lz4_compress_main
lz4_decompress_main
quicklz_compress_main
quicklz_decompress_main
snappy_compress_main
snappy_decompress_main
snappy_compress_main
snappy_decompress_main
